<div class="new-post" align="center" style="max-width: 500px; height: 500px; padding: 60px 20px 20px 20px; border: 0.1px solid lightgray;">
	<h2>本当に退会しますか？</h2>
	<%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-lg btn-primary", style: "margin: 60px 0 20px 0;" %>
	<%= link_to "退会する", user_registration_path, method: :delete, style: "color: gray; display: block;" %>
</div>