#comments {
	margin-top: 20px;
}

.comment {
	max-width: 600px;
	padding: 20px;
	background-color: white;
}

.comment-profile-image {
	margin-right: 0 !important;
}

.comment-form {
	padding-top: 30px;
	border-top: 1px solid gray;
}

#comment-form-body {
	height: 100px;
	margin-bottom: 15px;
}