.side-bar {
	padding: 0 !important;
}

.post-rank,
.tag-rank {
	border: 1px solid lightgray;
	background-color: white;
}

.user-rank {
	margin-top: 20px;
}

.col-lg-4,
.col-md-4,
.col-md-6,
.col-sm-4,
.col-sm-6 {
	padding: 0 5px 10px 5px !important;
}

th {
	border-bottom: 1px solid lightgray !important;
}
