.side-bar {
	padding: 0 !important;
}

.post-rank,
.tag-rank,
.user-rank {
	background-color: white;
	margin-bottom: 10px !important;
}

.user-rank {
	margin-bottom: 10px !important;
}

.col-lg-4,
.col-md-4,
.col-md-6,
.col-sm-4,
.col-sm-6 {
	padding: 0 5px 10px 5px !important;
}

