.main-content {
	max-width: 750px;
}

.search-form-1 {
  display: block;
}

.search-form-2 {
  display: none;
}

.post-item {
	max-width: 430px;
	height: 250px;
	background-color: white;
	position: relative;
}

.post-item > .detail > p {
	font-size: 15px;
}

.image {
	width: 100%;
}

.detail {
	padding: 5px;
}

.post-footer {
	position: absolute;
	bottom: 0px;
}

.post-content,
.new-post,
.edit-post {
	max-width: 600px;
	margin-bottom: 20px;
	background-color: white;
}

.post-text {
	padding: 20px;
}

.tag-list {
	margin: 10px 0 10px 0;
}

.post-body {
	margin:20px 0 40px 0;
}

.post-content-footer {
	font-size: 17px;
	margin-top: 20px;
	border-bottom: 1px solid gray;
}

.creater-detail > .table {
	margin-top: 20px;
}

#img_prev:hover {
  opacity: 0.8;
}

.text-field {
	padding: 40px 20px 20px 20px;
}

.category-field {
	margin: 40px 0 20px 0;
	max-width: 250px;
}

.title-field {
	margin-bottom: 20px;
}

.tag-field {
	margin-bottom: 40px;
}

.body-field {
	margin-bottom: 40px;
	height: 400px !important;
}

.post-code-field {
	margin-bottom: 20px;
	max-width: 280px;
}

.address-field {
	margin-bottom: 20px;
}

.slick-arrow {
	display: none !important;
}

.label {
	display: inline-block !important;
	height: 23px !important;
}