.main-content {
	max-width: 850px;
	margin: 0 auto;
}

.search-form-1 {
  display: block;
}

.search-form-2 {
  display: none;
}

.post-item {
	max-width: 430px;
	height: 250px;
	margin: 0 auto;
	background-color: white;
	position: relative;
}

.post-item > .detail > p {
	font-size: 15px;
}

.image {
	width: 100%;
}

.detail {
	padding: 5px;
}

.post-footer {
	position: absolute;
	bottom: 0px;
}

.post-content,
.new-post,
.edit-post,
.related-posts {
	max-width: 600px;
	margin: 0 auto 20px;
	background-color: white;
}

.post-text {
	padding: 20px;
}

.post-text h4 {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
}

.post-text h5 {
  font-size: 1.2em;
}

.post-body {
	line-height: 2;
	margin:20px 0 40px 0;
	font-size: 1.1em;
}

.post-content-footer {
	font-size: 17px;
	margin-top: 20px;
	border-bottom: 1px solid gray;
}

.creater-detail > .table {
	margin: 20px 0 80px 0;
}

.relation-title {
	font-size: 17px;
	margin-top: 20px;
	border-bottom: 1px solid gray;
	font-weight: 600;
}

.related-post {
	max-width: 200px;
	height: 180px;
	position: relative;
}

#img_prev:hover,
#cover_img_prev:hover {
  opacity: 0.8;
}

.text-field {
	padding: 40px 20px 20px 20px;
}

.category-field {
	margin: 40px 0 20px 0;
	max-width: 250px;
}

.title-field {
	margin-bottom: 20px;
}

.tag-field {
	margin-bottom: 40px;
}

.body-field {
	margin-bottom: 40px;
	height: 400px !important;
}

.post-code-field {
	margin-bottom: 20px;
	max-width: 280px;
}

.address-field {
	margin-bottom: 20px;
}

.slick-next {
	right: 10px !important;
	z-index: 100;
 }

.slick-prev {
	left: 10px !important;
  z-index: 100;
 }

.label {
	display: inline-block !important;
	height: 23px !important;
}