.sign-up {
	max-width: 500px;
	height: 500px;
	padding: 60px 20px 20px 20px;
	background-color: white;
}

.sign-up-form {
	margin-top: 30px;
	max-width: 300px;
}

.name-form {
	margin-bottom: 10px;
}

.email-form {
	margin-bottom: 10px;
}

.confirm-form {
	margin-top: 10px;
}

.sign-up-btn {
	margin-top: 20px;
	margin-bottom: 15px !important;
}

.sign-in {
	max-width: 500px;
	height: 400px;
	padding: 60px 20px 20px 20px;
	background-color: white;
}

.sign-in-form {
	margin-top: 30px;
	max-width: 300px;
}

.sign-in-btn {
	margin-top: 20px;
	margin-bottom: 15px !important;
}

.mypage {
	max-width: 700px;
	background-color: white;
}

.mypage-bottom {
	padding: 20px;
}

.mypage > .row > .col-sm-4 {
	padding: 5px 5px 0 5px !important;
}

.post-item-mypage {
	max-width: 300px;
	height: 200px;
	position: relative;
}

.profile_image {
	border-radius: 50px;
	margin-right: 20px;
}

.profile-image-td {
	width: 57px;
}

.edit-mypage {
	max-width: 700px;
	background-color: white;
}

.edit-detail {
	padding: 20px !important;
}

.introduction-form {
	height: 200px !important;
}

.destroy-page {
	max-width: 500px;
	height: 500px;
	padding: 60px 20px 20px 20px;
	background-color: white;
}

.return-btn {
	margin: 60px 0 20px 0 !important;
}